@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* line 5, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 4, ../components/sass/_base.scss */
html {
  /*font-size: 62.5%;*/ }

/* line 8, ../components/sass/_base.scss */
body {
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  line-height: 160%;
  color: #0A2933;
  background: #EAE3CB; }

/* line 16, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", serif;
  font-weight: normal;
  color: #475B62;
  text-shadow: #FCF4DC 1px 1px; }

/* line 23, ../components/sass/_base.scss */
h1 {
  font-size: 2.2rem;
  color: #1f7f9e;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #819090;
  padding-top: 10px; }

/* line 31, ../components/sass/_base.scss */
h2 {
  font-size: 1.5rem;
  line-height: 100%;
  margin: 20px 0 0 0;
  color: #BD3613; }

/* line 38, ../components/sass/_base.scss */
h3 {
  font-size: 1.8rem;
  line-height: 60%;
  color: #BD3613; }

/* line 44, ../components/sass/_base.scss */
a {
  text-decoration: underline;
  color: #536870; }
  /* line 48, ../components/sass/_base.scss */
  a:hover {
    color: #BD3613;
    transition-property: color;
    transition-duration: 0.5s; }

/* line 56, ../components/sass/_base.scss */
p {
  margin-bottom: 10px; }

/* line 60, ../components/sass/_base.scss */
.small {
  font-size: 1rem;
  color: #2176C7; }

/* line 14, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 47em) {
  /* line 16, ../components/sass/_layout.scss */
  .speakers-list {
    width: 100%;
    background: #738A05; }
    /* line 23, ../components/sass/_layout.scss */
    .speakers-list .layout {
      *zoom: 1;
      max-width: 51em;
      padding-left: 1em;
      padding-right: 1em;
      margin-left: auto;
      margin-right: auto; }
      /* line 38, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
      .speakers-list .layout:after {
        content: "";
        display: table;
        clear: both; }
      /* line 26, ../components/sass/_layout.scss */
      .speakers-list .layout i:before {
        visibility: hidden; }
      /* line 30, ../components/sass/_layout.scss */
      .speakers-list .layout h1 {
        text-shadow: none;
        color: #042029;
        font-size: 2.4em;
        text-align: center;
        border: none; }
      /* line 38, ../components/sass/_layout.scss */
      .speakers-list .layout .artist {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; }
      /* line 45, ../components/sass/_layout.scss */
      .speakers-list .layout .artist:last-child {
        width: 32.20339%;
        float: right;
        margin-right: 0; } }

/* line 55, ../components/sass/_layout.scss */
.layout {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  /*@include susy-grid-background;*/
  padding: 0 3%; }
  /* line 38, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  .layout:after {
    content: "";
    display: table;
    clear: both; }
  /* line 63, ../components/sass/_layout.scss */
  .layout .primary {
    /*margin-top: 0.2em;*/ }
    @media (min-width: 47em) {
      /* line 63, ../components/sass/_layout.scss */
      .layout .primary {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%; }
        /* line 68, ../components/sass/_layout.scss */
        .layout .primary #nextmeeting {
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          color: #EAE3CB;
          margin-bottom: 10px;
          margin-top: 10px;
          background-color: #259286;
          padding: 0 20px 20px 20px; }
          /* line 76, ../components/sass/_layout.scss */
          .layout .primary #nextmeeting h1, .layout .primary #nextmeeting h2, .layout .primary #nextmeeting h3, .layout .primary #nextmeeting h4, .layout .primary #nextmeeting h5, .layout .primary #nextmeeting h6 {
            color: #16554e;
            border: none;
            text-shadow: none;
            margin-bottom: 20px; }
          /* line 83, ../components/sass/_layout.scss */
          .layout .primary #nextmeeting a {
            color: #0A2933; } }
  @media (min-width: 47em) {
    /* line 92, ../components/sass/_layout.scss */
    .layout .secondary {
      width: 32.20339%;
      float: right;
      margin-right: 0;
      font-size: 1.1rem; }
      /* line 97, ../components/sass/_layout.scss */
      .layout .secondary h1, .layout .secondary h2, .layout .secondary h3, .layout .secondary h4, .layout .secondary h5, .layout .secondary h6 {
        font-size: 1.8rem;
        color: #BD3613; } }

/* line 111, ../components/sass/_layout.scss */
header .hero {
  width: 100%; }
  @media (min-width: 47em) {
    /* line 111, ../components/sass/_layout.scss */
    header .hero {
      position: relative;
      display: block;
      width: 100%;
      height: 450px;
      background-image: linear-gradient(to top right, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0)), url('../../images/misc/helper.jpg?1378508712');
      /*url('../../images/misc/helper.jpg');*/
      /*@include background(image-url("misc/helper.jpg"));*/
      background-attachment: scroll;
      background-position: center 20%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 auto; }
      /* line 138, ../components/sass/_layout.scss */
      header .hero .branding {
        position: absolute;
        bottom: 0; } }
/* line 152, ../components/sass/_layout.scss */
header img {
  width: 95%;
  max-width: 500px;
  margin: 2.5%;
  margin-bottom: 0; }

/* line 161, ../components/sass/_layout.scss */
.navigation {
  background: #175c73; }
  @media (min-width: 30em) {
    /* line 164, ../components/sass/_layout.scss */
    .navigation ul.nav {
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      *zoom: 1; }
      /* line 62, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
      .navigation ul.nav li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        white-space: nowrap;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        /* line 49, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
        .navigation ul.nav li:first-child {
          padding-left: 0; }
        /* line 50, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
        .navigation ul.nav li:last-child {
          padding-right: 0; }
        /* line 52, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
        .navigation ul.nav li.last {
          padding-right: 0; } }
  /* line 176, ../components/sass/_layout.scss */
  .navigation ul.nav li i {
    color: #f7b71a;
    padding-right: 0.5em; }
  /* line 181, ../components/sass/_layout.scss */
  .navigation ul.nav li a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    color: #FCF4DC; }
    /* line 187, ../components/sass/_layout.scss */
    .navigation ul.nav li a:hover {
      color: white; }

/* line 199, ../components/sass/_layout.scss */
footer {
  overflow: hidden;
  *zoom: 1;
  color: #EAE3CB;
  background-color: #0d3340;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px; }

/* line 4, ../components/sass/_modules.scss */
.speakers .artist {
  overflow: hidden;
  *zoom: 1; }
  /* line 7, ../components/sass/_modules.scss */
  .speakers .artist h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #819090;
    margin-bottom: 5px; }
  /* line 14, ../components/sass/_modules.scss */
  .speakers .artist img {
    float: left;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    width: 120px;
    margin-right: 10px;
    margin-bottom: 10px; }

/* line 28, ../components/sass/_modules.scss */
.branding img {
  display: block;
  margin: 0 auto; }

/* line 36, ../components/sass/_modules.scss */
#nextmeeting {
  overflow: hidden;
  *zoom: 1; }
  /* line 40, ../components/sass/_modules.scss */
  #nextmeeting img {
    float: left;
    width: 30%;
    max-width: 130px;
    margin-right: 3%; }
  /* line 47, ../components/sass/_modules.scss */
  #nextmeeting img {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }

/* line 56, ../components/sass/_modules.scss */
.social-media-icons .title {
  float: left; }
/* line 60, ../components/sass/_modules.scss */
.social-media-icons ul {
  float: left; }
  /* line 63, ../components/sass/_modules.scss */
  .social-media-icons ul li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px; }
    /* line 67, ../components/sass/_modules.scss */
    .social-media-icons ul li img {
      width: 30px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }

/* line 77, ../components/sass/_modules.scss */
.pixgrid {
  overflow: hidden;
  *zoom: 1; }
  /* line 81, ../components/sass/_modules.scss */
  .pixgrid img {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    width: 30%;
    max-width: 120px;
    cursor: pointer; }
